.cn{
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;
   
  
}
.rps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 18px;
}
.rps img{
    margin: 10px;
    box-shadow:0px 10px 50px black;
    
}
.rps img:hover{
    margin: 10px;
    box-shadow:0px 10px 50px blue;
}